<div id="main">
  <% if @recent_posts %>
    <%= render partial: 'post_overview', locals: {post: @recent_posts[0]} %>
    <header>
      <h1><%= t('blogo.user.recent_posts') %></h1>
    </header>
    <div class="pure-g-r recent-blog-box">
      <div class="pure-u-1 pure-u-md-1-2 recent-blog" style="margin-right: 5px;">
        <%= render partial: 'recent_post', locals: {post: @recent_posts[1]} %>
      </div>
      <div class="pure-u-1 pure-u-md-1-2 recent-blog" style="margin-left: 5px;">
        <%= render partial: 'recent_post', locals: {post: @recent_posts[2]} %>
      </div>
    </div>
  <% end %>
</div>
