<div id="main">
  <div class="pure-g-r">
    <div class="pure-u-4-4">
      <%= render 'blogo/posts/post' %>
      <%= render 'blogo/posts/social_share' %>
      <%= render 'blogo/posts/disqus_comments' %>
    </div>
  </div>  
</div>
